.password-container {
    display: flex;
    gap: 2rem;
    flex-direction: row !important;
}

.password-container div {
    width: 50%;
}

.register-container div {
    display: flex;
    flex-direction: column;
}

.register-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.register-container input {
    padding: 1rem;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100%;
}